<div class="row">
  <% if @article.status %>
    <div class="col-md-3"></div>
    <div class="col-md-3">
        <table class="table table-bordered">
        <tr><th>
            <h3>Add a comment:</h3>
        </th></tr>
        <%= form_with(model: [ @article, @article.comments.build ], local: true) do |form| %>
            <tr><td>
            <%= form.label :body %><br>
            <%= form.text_area :body, size: "50x10" %>
            </tr></td>
            <td>
            <%= form.submit "Add", class: "btn btn-primary" %>
            </td>
        <% end %>
        </table>
    </div>
    <div class="col-md-3"></div>
  <% else %>
    <div class="col-md-3 offset-md-4"><h1>Article is closed</h1></div>
  <% end %> 
</div>

<div class="row">
  <div class="col-md-3 offset-md-3">
    <%= button_to 'Back', article_path(@article.id), class: "btn btn-info", method: "get"%>
  </div>  
</div>