
<h1>Edit article</h1>
 
<%= form_with(model: @article, local: true) do |form| %>
 
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@article.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @article.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <table class="table">
    <% if @article.status %>
      <tr><td>
        <%= form.label :title %><br>
        <%= form.text_field :title, size: '150' %>
      </td></tr>
    
      <tr><td>
        <%= form.label :text %><br>
        <%= form.text_area :text, size: "150x20" %>
      </td></tr>
    
      <td>
        <%= form.submit %>
      </td>
    <% else %>  
      <tr><td>
        <h2>article is closed</h2>
      </td></tr>
    <% end %>
  </table>

<% end %>
 
<%= link_to 'Back', articles_path %>