<h1>New Article</h1>

<table class="table">
  <%= form_with scope: :article, url: articles_path, local: true do |form| %>
    <tr><td>
      <%= form.label :title %><br>
      <%= form.text_field :title, size: '150' %>
    </td></tr>
  
    <tr><td>
      <%= form.label :text %><br>
      <%= form.text_area :text, size: "150x20" %>
    </td></tr>
  
    <td>
      <%= form.submit %>
    </td>
  <% end %>
 </table> 

<%= link_to 'Back', articles_path %>