
<div class="row">
  <div class="col-md-3 offset-md-2">
    <h1>New Article</h1>
    <%= form_with scope: :article, url: articles_path, local: true do |form| %>

      <%= form.label :title %><br>
      <%= form.text_field :title, size: '98' %>

      <%= form.label :text %><br>
      <%= form.text_area :text, size: "100x12" %>

      <%= form.submit "Save", class: "btn btn-primary" %>

    <% end %>
  </div>  
</div> 
<br>
<div class="row">
  <div class="col-md-3 offset-md-2">
    <%= button_to 'Back', articles_path, class: "btn btn-info", method: "get"%>
  </div>  
</div>