
<div class="row">
  <div class="col-md-4 offset-md-4">
    <h1>Sign Up</h1><br>
    <%= form_with(model: User.new, url: user_index_path, id: 'signUp') do |f| %>

      <%= f.label :username %>
      <%= f.text_field :username, class: 'form-control' %><br>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %><br>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %><br>

      <%= f.submit "Sign Up", class: "btn btn-primary" %>

      <%= button_tag "Back", type: "button", class: "btn btn-primary", onclick: "redirect('#{root_path}')" %>

    <% end %>

    <br>
    <div id='signUpMsg'></div>
  </div>

</div>
